body {
    background-image: url('aurora.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

h1 {
    color: white;
    background-color: rgb(255, 186, 237);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: lighter;
}

img {
    position: fixed;
    right: 0;
    bottom: 0;
}